<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="e1973498-9c5c-42c5-9450-15c5953e5b7f"
					 Name="Rivals Easy Workshop Tool"
           Language="1033"
           Version="1.0"
           Manufacturer="wuffie"
           UpgradeCode="bd2c8b24-18da-4c2a-aa86-4fc9117716e8">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="REWT" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="REWT" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<Component Id="MainExecutable" Guid="a2fb592a-d246-4b15-b7b2-bf4fc5c0c288">
				<File Source="$(var.rivals-easy-workshop-tool.TargetPath)" />
			</Component>
      <Component Id="SpriteEditorLua" Guid="096c03b2-04e9-4277-a720-4e8fb3022bca">
        <File Source="$(var.rivals-easy-workshop-tool.TargetDir)/strip_export.lua" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>
