<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="workshop_forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <workshop_forms.Properties.Settings>
            <setting name="attacksDir" serializeAs="String">
                <value />
            </setting>
            <setting name="spritesDir" serializeAs="String">
                <value />
            </setting>
            <setting name="characterDir" serializeAs="String">
                <value />
            </setting>
            <setting name="attacksDirSearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="spritesDirSearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="spritesHurtboxGeneration" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="asepriteDir" serializeAs="String">
                <value />
            </setting>
        </workshop_forms.Properties.Settings>
    </userSettings>
</configuration>